@model PrzychodniaPOZ.Models.WizytaBadanie

@{
    ViewBag.Title = "DodajWizytaBadanie";
    Layout = "~/Views/Shared/_LayoutDodajWizytaBadanie.cshtml";
    if (Session["PracownikId"] == null)
    {
        Response.Redirect("~/Admin/Logowanie");
    }
}

<h2>DodajWizytaBadanie</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>WizytaBadanie</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">

            <div class="col-md-10">
                <label class="control-label col-md-2">
                    Rodzaj badania
                </label>
               @Session["idBad"].ToString()
            </div>
        </div>

        <div class="form-group">
           
            <div class="col-md-10">
                <label class="control-label col-md-2">
                    Data Badania
                </label>

                @Html.EditorFor(model => model.DataBadanie, new { htmlAttributes = new { @class = "datepicker" } })
                
            </div>
        </div>

        <div class="form-group">
            
            
            <div class="col-md-10">
                <label class="control-label col-md-2">
                    Godzina Badania
                </label>
                @Html.EditorFor(model => model.GodzinaBadanie, new { htmlAttributes = new { @class = "timepicker" } })
            </div>
        </div>

        


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    <script>

        $(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd-MM-yy',
                minDate: new Date(),
                value: new Date(),
                showMeridian: true,
                autoclose: true,

            });
        });
        $(function () {
            $(".timepicker").datetimepicker({
                datepicker: false,
                format: "H:i",
                showSecond: false,
                step: 30
            });
        });
    </script>
}