@model IEnumerable<PrzychodniaPOZ.Models.WizytaLekarz>

@{
    ViewBag.Title = "DostepneWizytaLekarz";
    Layout = "~/Views/Shared/_LayoutDostepneWizytaLekarz.cshtml";
}

<h2>DostepneWizytaLekarz</h2>

<p>
    @Html.ActionLink("Dodaj nową wizytę", "SpecjalizacjaMenu")
</p>
<table class="table">
    <tr>
        <th>
            Lekarz
        </th>
        <th>
            Specjalizacja
        </th>
        <th>
            Pacjent
        </th>
        <th>
            Data wizyty
        </th>
        <th>
            Godzina wizyty
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lekarz.Nazwisko)
            @Html.DisplayFor(modelItem => item.Lekarz.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specjalizacja.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PacjenId)
            @Html.DisplayFor(modelItem => item.Pacjent.Nazwisko)
            @Html.DisplayFor(modelItem => item.Pacjent.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataWizyty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GodzinaWizyty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            
            
            @Html.ActionLink("Delete", "Delete", new { id=item.WizytaLekarzId })
        </td>
    </tr>
}

</table>
