@model IEnumerable<PrzychodniaPOZ.Models.WizytaBadanie>

@{
    ViewBag.Title = "DostepneWizytaBadanie";
    Layout = "~/Views/Shared/_LayoutDostepneWizytaBadanie.cshtml";
}

<h2>DostepneWizytaBadanie</h2>

<p>
    @Html.ActionLink("Dodaj nowe badanie", "DodajWizytaBadanieMenu")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Badanie.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PacjentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataBadanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodzinaBadanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Badanie.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PacjentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataBadanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GodzinaBadanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            
            
            @Html.ActionLink("Delete", "DeleteBadanie", new { id=item.WizytaBadanieId })
        </td>
    </tr>
}

</table>
