@model IEnumerable<PrzychodniaPOZ.Models.WizytaLekarz>
@foreach (var item in Model)
{<table>


        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Lekarz.Nazwisko)
                @Html.DisplayFor(modelItem => item.Lekarz.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specjalizacja.Nazwa)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DataWizyty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GodzinaWizyty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Zapisz się na wizytę", "Edit", new { id = item.WizytaLekarzId })

            </td>
        </tr>
    </table>
}